*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

#root{
    background-image:linear-gradient(
        rgba(30, 44, 27, 0.4), 
        rgba(39, 61, 33, 0.4)   
    ), url(assets/b8b83d5d332d08369491f3cee7917ec0.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    font-family: 'Inter', sans-serif;
    width: 100vw;
    
    min-height: 100vh;

    font-family: 'Inter', sans-serif;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 244, 253);
    width: 100vw;

    background-color: rgb(230, 244, 253);
}